.container-wrapper{
    width:100%;
}

.sidenav-container{
    width: 30%;
    float: left;
    height: 100%;
    position: absolute;
    display: none;
}

.container{
    width: 100%;
    float: right;
}

.main-content{
   min-height: 40%;
   padding: 35px;
}

.header-container{
    height: 20%;
}

.footer-container{
    height: 20%;
}