.container-wrapper{
    width:100%;
    height: 600px;
}

.sidenav-container{
    width: 30%;
    float: left;
    height: 100%;
}

.container{
    width: 70%;
    float: right;
}

.main-content{
   min-height: 40%;
   max-height: 60%;
   padding: 35px;
   background-color: brown;
}

.header-container{
    height: 20%;
}

.footer-container{
    height: 20%;
}